:root {
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;

    --padding-sm: 1rem;
    --padding-md: 1.5rem;
    --padding-lg: 2rem;
}


* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

h1, h2 {
    margin: 0;
}

p {
    margin: 0;
}

.page {
    width: 100%;
    min-height: 100%;
    padding: var(--padding-sm);
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.controls-search {
    border-radius: var(--padding-sm);
    border: 1px solid #0000004d;
    height: 40px;
    padding: 0.5rem 1rem;
}

.controls-add-sample {
    cursor: pointer;
    border: 1px solid #0000004d;
    height: 40px;
    background: none;
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    
    @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-card-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / .8;
}

.product-card-content {
    display: flex;
    flex-direction: column;
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-sm);
}

.product-card-action {
    cursor: pointer;
}

/* .added {
    position: relative;
}

.cart-icon-container {
    display: none;
}

.added > .cart-icon-container {
    display: unset;
    position: absolute;
    top: var(--padding-sm);
    right: var(--padding-sm);
    background-color: #FFFFFF;
    height: 30px;
    width: 30px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.hidden {
    display: none;
}

.product-card.added {
  border-color: #10b981;
  background-color: #ecfdf5;
}