:root {
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;

    --padding-sm: 1rem;
    --padding-md: 1.5rem;
    --padding-lg: 2rem;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

h1, h2 {
    margin: 0;
}

p {
    margin: 0;
}

.page-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-gutter: stable both-edges;
}

.page {
    width: 100%;
    min-height: 100%;
    padding: var(--padding-sm);
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.controls-search {
    border: 1px solid #0000004d;
    height: 40px;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-sm);
    width: 100%;

    @media (min-width: 768px) {
        max-width: 50%;
    }
}

.controls-add-sample {
    cursor: pointer;
    border: 1px solid #0000004d;
    height: 40px;
    background: none;
    border-radius: var(--radius-sm);
    padding: 0px var(--padding-sm);
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    
    @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FAF9F6;
}

.product-card-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / .8;
    
}

.product-card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: var(--padding-sm);
    gap: 0.125rem;
}

.product-card-title {
    font-size: 1.2rem;
    grid-column: 1/2;

    @media (min-width: 768px) {
        font-size: 1.3rem;
    }
}

.product-card-price {
    grid-column: 2/3;
    justify-self: end;
}

.product-card-description {
    font-size: 0.8rem;
    max-width: 235px;
    grid-column: 1/3;

    @media (min-width: 768px) {
        font-size: 0.9rem;
        max-width: 300px;
    }
}

.product-card-action {
    cursor: pointer;
    padding: 0 1rem;
    border-radius: var(--radius-sm);
    margin-top: 1rem;
    background: none;
    height: 32px;
    border: 2px solid #0000004d;
    grid-column: 1/3;


    @media (min-width: 450px) {
        height: 40px;
    }
}

.btn-states {
    transition: 
        background-color 0.15s ease, 
        border-color 0.15s ease, 
        transform 0.05s ease;
}

.btn-states:hover {
    background-color: #00000008;
    border-color: #00000080;
}

.btn-states:active {
    background-color: #00000012;
    border-color: #00000099;
    transform: scale(0.98);
}

.product-card.added  {
  background-color: #ecfdf5;
}

.not-found-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: var(--padding-md);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.not-found-message-title {
    font-size: 1.2rem;

    @media (min-width: 768px) {
        font-size: 1.3rem;
    }
}

.not-found-message-description {
    max-width: 400px;
    font-size: 0.8rem;

    @media (min-width: 768px) {
        font-size: 0.9rem;
        max-width: 500px;
    }
}

.hidden {
    display: none;
}